<h1>Welcome {{name}}</h1>
<p>Thanks for submitting your question, here it is:</p>
<pre>
  {{{query}}}
</pre>

<p>It's {{{meta.words}}} long. That's about a {{{meta.minutesToRead}}} minute read.</p>

<div style="display:inline-block;">
  {{{~ranOutOfIdeas~}}}
  {{{ranOutOfIdeas~}}}
  {{{~ranOutOfIdeas}}}
  {{{~ran.out.ofIdeas~}}}
</div>
